.nav-bar{
  display: flex;
  gap: 80px;
  color: white;
  padding-top: 20px;
  font-size: 1.6em;
}
.nav-content{
  background-color: #012840;
  display: flex;
  gap: 290px;
  padding: 20px 0px 0px 140px;
  
}

.icon img{
    height: 110px;
    width: 110px;
}